<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pai_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{126,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{126,158}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>Pai_black_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,462},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,370},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,196},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,98},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,384},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,346},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,432},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,430},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,462},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,462},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,340},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,428},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_black_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,294},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_cat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,130},{18,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,140}}</string>
                <key>sourceSize</key>
                <string>{32,140}</string>
            </dict>
            <key>Pai_cat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{18,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{18,140}}</string>
                <key>sourceSize</key>
                <string>{32,140}</string>
            </dict>
            <key>Pai_coler_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,234},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Pai_coler_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,260},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{26,26}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Pai_coler_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{88,122}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{88,122}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>Pai_coler_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,150},{28,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{28,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Pai_coler_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,208},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Pai_coler_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{96,126}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{96,126}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>Pai_coler_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,250},{94,126}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{94,126}}</string>
                <key>sourceSize</key>
                <string>{100,128}</string>
            </dict>
            <key>Pai_coler_cat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{88,128}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{88,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Pai_coler_cat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,150},{98,126}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{98,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>Pai_coler_xing.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,180},{26,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{26,24}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>Pai_font.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{126,158}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>Pai_green_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,384},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,384},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,194},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,50},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,432},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,462},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,462},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,384},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,384},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,432},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,326},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_green_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,246},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,346},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,384},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,146},{32,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{32,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{34,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{34,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,476},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,432},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,428},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,462},{28,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{28,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,428},{28,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,476},{28,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,9},{28,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,296},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,9},{42,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{30,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{30,46}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>Pai_red_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,244},{30,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{30,48}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>fly_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,130},{62,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{62,32}}</string>
                <key>sourceSize</key>
                <string>{64,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{360,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d8072e3e797e497ed99dd27da363c03c$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
