<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desk_card_type1.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,0},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>desk_card_type2.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,0},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>desk_card_type3.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,0},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{29,26}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
            <key>desk_card_type4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{43,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,28}}</string>
                <key>sourceSize</key>
                <string>{43,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desk_card_type.png</string>
            <key>size</key>
            <string>{172,40}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:59dbc0edf854f25d6ed9a8be90ac181c$</string>
            <key>textureFileName</key>
            <string>desk_card_type.png</string>
        </dict>
    </dict>
</plist>
